/* Header start */
.button-primary {
  background-color: var(--blue);
  width: 112px;
  height: 40px;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  font-size: 16px;
}

.active-option {
  text-decoration: none;
  border-bottom: 3px solid var(--blue);
}

.inactive-option {
  text-decoration: none;
  color: black;
}

@media (max-width: 576px) {
  .header-menu {
    width: 45% !important;
  }
}

@media (min-width: 576px) {
  .header-menu {
    width: 30%!important;
  }
}

/* Header end */

/* Banner section start */
.banner-color {
  background-color: var(--bannercolor);
  height: 345px;
}

.banner-text-black {
  color: black;
  font-size: 54px;
  font-weight: bold;
}

.banner-text-blue {
  color: var(--blue);
  font-size: 54px;
  font-weight: bold;
}

.banner-title {
  margin: 0 0rem;
}

.image-size {
  width: 480px;
  height: 250px;
  position: relative;
  bottom: 10px;
}

@media (max-width: 768px) {
  .banner-text-black {
    font-size: 30px;
    margin: 10px 0px;
  }
  .banner-text-blue {
    font-size: 30px;
    margin: 10px 0px;
  }
  .image-size {
    width: 260px;
    height: 150px;
    margin: 40px 0px;
  }
}

/* banner section end */

/* Searchbar Section start */

.active-section {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  border-bottom: 3px solid black;
}

.inactive-section {
  text-decoration: none;
  font-weight: bold;
  color: #0000006a;
}

.section-color {
  background-color: var(--sectioncolor);
  height: 95px;
  justify-content: center;
  align-items: center;
  display: inline-block;
  border-radius: 12px;
  padding-left: 160px;
  padding-top: 20px;
  padding-right: 160px;
  padding-bottom: 97px;
}

.dummy-demo {
  background-color: #ffffff;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: inline-block;
  border-radius: 12px;
}

.button-margin {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .section-color {
    padding: 0px;
  }
  .display-button {
    display: block;
  }
  .input-search {
    width: 200px;
    padding: 5px 0px;
    border: none;
  }
  .drop-down {
    width: 200px;
    padding: 5px 0px;
    border: none;
  }
  .dummy-demo {
    width: 310px;
    overflow-x: scroll;
    height: 120px;
  }
}

@media (min-width: 768px) {
  .banner {
    display: flex;
  }

  .section-color {
    padding-right: 14px;
    padding-left: 14px;
  }
  .banner-text-black {
    font-size: 40px;
  }
  .banner-text-blue {
    font-size: 40px;
  }
  .section-position {
    bottom: 56px;
    position: relative;
    padding: 1px;
  }
  .display-button {
    display: flex;
  }
  .input-search {
    width: 400px;
    border-radius: 5px;
    padding: 5px 0px;
    border: none;
  }
  .drop-down {
    width: 200px;
    border-radius: 5px;
    padding: 5px 0px;
    border: none;
  }
}

@media (min-width: 992px) {
  .section-position {
    bottom: 55px;
    position: relative;
    padding: 2px;
  }
  .banner-text-black {
    font-size: 54px;
  }
  .banner-text-blue {
    font-size: 54px;
  }
  .display-button {
    display: flex;
  }
  .input-search {
    width: 400px;
    border-radius: 5px;
    padding: 5px 0px;
    border: none;
  }
  .drop-down {
    width: 200px;
    border-radius: 5px;
    padding: 5px 0px;
    border: none;
  }
}
/* Searchbar Section end */

/* What we do section start */
.title-text {
  color: var(--blue);
}
.heading-text {
  color: #000000;
}

.seemore-button {
  background-color: var(--blue);
  color: #ffffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 200px;
  height: 35px;
  border: none;
  position: relative;
  right: 17px;
}

.icon {
  height: 60px;
  width: 60px;
}
.card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  margin-top: 20px;
}

.card-text {
  font-style: normal;
  font-size: 18px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.5);
}
/* What we do section end */

/* Property Section start */
.card {
  width: 18rem;
  --bs-card-border-color: #000000;
  --bs-card-border-width: 1px;
}

.amount {
  color: var(--blue);
}

.location-icon {
  margin-right: 10px;
}

.icon-size {
  width: 17px;
  margin-right: 13px;
}

.profile-size {
  width: 40px;
  margin-right: 8px;
}

.like-share {
  width: 17px;
  margin-right: 15px;
}

.for-sale-button {
  width: 130px;
  background-color: var(--blue);
  color: #ffffff;
  border-top-left-radius: 15px;
  border: none;
  position: absolute;
  /* bottom: 196px; */
  /* right: 79px; */
}

/* Property Section end */

/* featured property section start */
.featured-property {
  background-color: #e6edff;
}
.heading-feature-property {
  padding-top: 40px;
}
.featured-property-image {
  padding: 15px;
}
.featured-property-see-all-button {
  padding-bottom: 50px;
}
/* featured property section end */

/* Footer section start */

.footer {
  background-color: #000000;
}

.footer-icon {
  height: 80px;
  padding-top: 30px;
}

.footer-text {
  color: #ffffff;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 35px;
}
/* Footer section end */


/* media query for Md and sm to make site responsive */

@media (max-width: 991.75px) {
  .card{
      width: 460px;
  }
}

@media (max-width: 575.75px) {
  .card{
      width: 300px;
  }
}