/* Header start */
.button-primary{
    background-color: var(--blue);
    width: 112px;
    height: 40px;
    color: #ffffff;
    border: none;
    border-radius: 16px;
    font-size: 16px;

}

.active-option{
    text-decoration: none;
    border-bottom: 3px solid var(--blue) ;
}

.inactive-option{
    text-decoration: none;
    color: black;
}

@media (max-width: 767.98px) { 
    .header-menu{
        width: 65% !important;
    }
 }

/* Header end */


/* Banner section start */
.banner-color{
    background-color: var(--bannercolor) ;
    /* width: 100%; */
    height: 345px;
}

.banner-text-black{
    color: black;
    font-size: 54px;
    font-weight: bold;

}

.banner-text-blue{
    color: var(--blue);
    font-size: 54px;
    font-weight: bold;

}

.banner-title{
    margin: 0 0rem;
}

.image-size{
    width: 480px;
    height: 250px;
    position: relative;
    bottom: 10px;
}

@media (max-width: 575.98px) { 
    .banner-text-black{
        font-size: 30px;
    }
    .banner-text-blue{
        font-size: 30px;
    }
    .image-size{
        width: 260px;
        height: 150px;
    }
 }

/* banner section end */

/* Searchbar Section start */

.active-section  {
    text-decoration: none;
    font-weight: bold ;
    color: #000000;
    border-bottom: 3px solid black ;
}

.inactive-section{
    text-decoration: none;
    font-weight: bold ;
    color: #0000006a;
}


.section-color{
    background-color: var(--sectioncolor) ;
    height: 95px;
    /* width: 800px; */
    justify-content: center;
    align-items: center;
   display: inline-block;
   border-radius: 12px;
   padding-left: 160px;
    padding-top: 20px;
    padding-right: 160px;
    padding-bottom: 97px;
}



.dummy-demo{
    background-color: #ffffff ;
    height: 100px;
    /* width: 800px; */
    justify-content: center;
    align-items: center;
   display: inline-block;
   border-radius: 12px;
}


.search-input{
    width: 500px;
}


.button-margin{
    margin-left: 20px;
}

@media (min-width: 992px) { 
    .section-position{
        bottom: 55px;
        position: relative;
        padding: 2px;
    }
}
/* Searchbar Section end */


